<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Week</th>
    <th scope="col">Average Distance</th>
    <th scope="col">Average Speed</th>
  </tr>
  </thead>
  <tbody>
  <% @weekly_totals.each do |week| %>
    <tr>
      <th scope="row"><%= week[:week] %></th>
      <td><%= week[:total_distance].round(2) %>  km</td>
      <td><%= week[:total_time].round(2) %> minutes </td>
    </tr>
  <% end %>
  </tbody>
</table>